.CatalogCompanyDetails {


}
.GridContainer{
  padding: 12px;
  border-radius: 4px;
  background: #EEF4F9;
}
.Title{
  color: #464849 !important;
  font-family: Poppins, serif!important;
  font-size: 12px!important;
  font-style: normal!important;
  font-weight: 400!important;
  line-height: normal!important;
  padding-bottom: 8px!important;
}
.Label{
  color: var(--effigo-blue, #012954)!important;
  font-family: Poppins, serif!important;
  font-size: 14px!important;
  font-style: normal!important;
  font-weight: 600!important;
  line-height: normal!important;
}
.MarginBottom{
  padding-bottom: 0!important;
  margin-bottom: 18px!important;
}
.Popper{

  pointer-events: none;

}